@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Sanchez&display=swap');
@import '../../node_modules/reset-css/sass/_reset.scss';
@import '../styles/variables.scss';
@import '../styles/animations.scss';

body {
  font-family: 'Montserrat', sans-serif;
  animation: fadeIn 0.5s ease-in;
}

a {
	text-decoration: none;
  cursor: pointer;
  color: $black;
}

p {
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

h1, h2, h3, h4 {
  font-weight: $fontWeightBold;
  font-family: 'Sanchez', serif;
}

h1 {
  font-size: $remXXXL;
  margin: 2rem 0 1rem 0;
}

h2 {
  font-size: $remXXL;
  margin: 2rem 0 1rem 0;
}

.page-padding {
  padding: 2rem 1rem;
  max-width: $desktopMaxWith;
  margin: 0 auto; 
}