@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Sanchez&display=swap');
@import '../../node_modules/reset-css/sass/_reset.scss';
@import '../styles/variables.scss';

body {
	font-family: 'Muli', sans-serif;
}

a {
	text-decoration: none;
	color: $primaryColor;
}

h1, h2, h3, h4 {
  font-family: 'Sanchez', serif;
}

.page-padding {
  padding: 2rem 1rem;
  max-width: $desktopMaxWith;
  margin: 0 auto; 
}