$primaryColor: #36A0DA;
$secondaryColor: #80CCED;
$white: #FFFFFF;
$black: #595858;
$gray: #cecece;
$red: #f74e50;

$buttonBorderRadius: 30px;
$deviceBorderRadius: 15px;

$borderS: 1px;
$borderM: 2px;
$borderL: 3px;

$phoneMinWidth: 320px; // iPhone 5 screen width.
$phoneBreakpoint: 415px; // iPhone 6+ screen width.
$tabletBreakPoint: 768px; // iPad screen width.
$desktopMaxWith: 1020px;

$fontWeightLight: 300;
$fontWeightNormal: 400;
$fontWeightBold: 700;

$remXXXL: 2rem;
$remXXL: 1.45rem;
$remXL: 1.1rem;
$remL: 1rem;
$remM: 0.89rem;
$remS: 0.77rem;
$remXS: 0.625rem;
$remXXS: 0.5rem;

$headerLayer: 1000;
$alertLayer: 2000;

