$primaryColor: #1C1F21;
$secondaryColor: #92683C;
$white: #FFFFFF;
$black: #595858;
$gray: #cecece;
$red: #f74e50;

$buttonBorderRadius: 30px;
$deviceBorderRadius: 15px;

$borderS: 1px;
$borderM: 2px;
$borderL: 3px;

$phoneMinWidth: 320px; // iPhone 5 screen width.
$phoneBreakpoint: 415px; // iPhone 6+ screen width.
$tabletBreakPoint: 768px; // iPad screen width.
$desktopMaxWith: 1020px;

$fontWeightLight: 300;
$fontWeightNormal: 400;
$fontWeightBold: 700;

$vwXXXXL: 17.5vw;
$vwXXXL: 8.5vw;
$vwXXL: 6.4vw;
$vwXL: 4.8vw;
$vwL: 4.4vw;
$vwM: 4vw;
$vwS: 3.6vw;
$vwXS: 2.8vw;
$vwXXS: 2.4vw;

$remXXXL: 2rem;
$remXXL: 1.45rem;
$remXL: 1.1rem;
$remL: 1rem;
$remM: 0.89rem;
$remS: 0.77rem;
$remXS: 0.625rem;
$remXXS: 0.5rem;

$headerLayer: 1000;
$alertLayer: 2000;

