<div class="inner-container">
  <span (click)="openNav()">Hamburger</span>
  <img class="logo" [routerLink]="navObject.logoNav.url">

  <nav *ngIf="displayMobNav" class="mobile-nav">
    <span (click)="closeNav()" class="close">Close</span>
    <span (click)="closeNav()" class="nav-item" [routerLink]="navObject.logoNav.url">Home</span>
    <div *ngFor="let item of navObject.leftNav">
      <span (click)="closeNav()" [routerLink]="item.url" class="nav-item">{{item.label}}</span>
    </div>
    <div *ngFor="let item of navObject.rightNav">
      <span (click)="closeNav()" [routerLink]="item.url" class="nav-item">{{item.label}}</span>
    </div>
  </nav>
  <nav class="desktop-nav">
    <div class="left-nav">
      <div *ngFor="let item of navObject.leftNav">
        <span [routerLink]="item.url" class="nav-item">{{item.label}}</span>
      </div>
    </div>
    <img class="logo" [routerLink]="navObject.logoNav.url" src="{{navObject.logoNav.logoUrl}}" alt="{{navObject.logoNav.altText}}">
    <div class="right-nav">
      <div *ngFor="let item of navObject.rightNav">
        <span [routerLink]="item.url" class="nav-item">{{item.label}}</span>
      </div>
    </div>
  </nav>
</div>