@import '../../styles/variables.scss';
@import '../../styles/mixins/center.scss';

$logoWidth: 15rem;
$logoOffset: 7.5rem;

:host {
	position: fixed;
	width: 100%;
	background: $white;
	box-shadow: 0 0 10px $gray;
  z-index: $headerLayer;
  
  .pre-header {
    background: $primaryColor;
    color: $white;
    text-align: center;
    padding: 1rem 0 1.5rem 0;
    font-size: $remM;
    line-height: 1.3;
  }

  .inner-container {
    width: 100%;
    max-width: $desktopMaxWith;
    margin: 0 auto;
    height: 4.91rem;

    .mobile-nav {
      display: flex;
      position: relative;
      margin: 0 auto;
      align-items: flex-start;
      justify-content: center;
      padding: 0 2rem;

      .logo {
        width: 9rem;
        display: block;
        cursor: pointer;
        margin-top: -0.2rem;
        outline: none;
      }

      .hamburger {
        position: absolute;
        top: 2rem;
        left: 1rem;
        cursor: pointer;
      }

      .navigation {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 80%;
        overflow: scroll;
        background: rgba($primaryColor, 0.98);
        color: $white;
        padding: 1rem;  

        .close {
          position: absolute;
          top: 1rem;
          right: 1rem;
          cursor: pointer;
          
          &:hover {
            color: $secondaryColor;
          }
        }

        .nav-item {
          outline: none;
          font-size: $remXL;
          color: $white;
          display: block;
          padding: 1rem;
          cursor: pointer;
          font-family: 'Sanchez', serif;

          &:hover {
            color: $secondaryColor;
          }
        }
      }
    }

    .desktop-nav {
      display: none;
      margin: 0 auto;
      align-items: flex-start;
      justify-content: center;
      padding: 0 2rem;
      
      .nav-item {
        outline: none;
        font-size: $remXL;
        color: $primaryColor;
        margin: 1rem 0.5rem;
        display: block;
        cursor: pointer;
        font-family: 'Sanchez', serif;

        &:hover {
          color: $secondaryColor;
        }
      }

      .right-nav, .left-nav {
        width: calc(50% - 7.5rem);
        display: flex;        
      }

      .right-nav {
        justify-content: flex-end;
        padding: 0.95rem 0 0.95rem 1rem;
      }

      .left-nav {
        justify-content: flex-start;
        padding: 0.95rem 0 0.95rem 1rem;
      }

      .logo {
        width: 9rem;
        display: block;
        cursor: pointer;
        margin-top: -0.2rem;
        outline: none;
      }
    }
  }

  @media screen and (min-width: $tabletBreakPoint) {
    .inner-container {
      .desktop-nav {
        display: flex;
      }
      .mobile-nav {
        display: none;
      }
    }
  }
}
