<nav class="navigation" [ngClass]="{'is-open': displayMobNav}">
  <img class="mobile-nav-logo" src="{{navObject.logoNav.logoSmallUrl}}" [routerLink]="navObject.logoNav.url" alt="{{navObject.logoNav.altText}}">
  <span (click)="closeNav()" class="close"></span>

  <div class="nav-item-container">
      <a (click)="closeNav()" class="nav-item" [routerLink]="navObject.logoNav.url">Home</a>
  </div>
  <div class="nav-item-container" *ngFor="let item of navObject.leftNav">
    <a (click)="closeNav()" [routerLink]="item.url" class="nav-item">{{item.label}}</a>
  </div>
  <div class="nav-item-container" *ngFor="let item of navObject.rightNav">
    <a (click)="closeNav()" [routerLink]="item.url" class="nav-item">{{item.label}}</a>
  </div>
</nav>
<div class="ce-nav">
  <div class="ce-nav-inner">
    <div class="hamburger-button" (click)="openNav()">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>  
    <div class="left-nav">
        <div *ngFor="let item of navObject.leftNav">
            <a [routerLink]="item.url" class="nav-item">{{item.label}}</a>
          </div>  </div>
    <div class="logo-container">
      <img class="logo" src="{{navObject.logoNav.logoUrl}}" [routerLink]="navObject.logoNav.url" alt="{{navObject.logoNav.altText}}">
    </div>
    <div class="right-nav">
        <div *ngFor="let item of navObject.rightNav">
            <a [routerLink]="item.url" class="nav-item">{{item.label}}</a>
        </div>  
    </div>
  </div>
</div>