@import '../../styles/variables.scss';

:host {
	position: fixed;
	width: 100%;
	background: $white;
	box-shadow: 0 0 10px $gray;
  z-index: $headerLayer;
  
  .inner-container {
    width: 100%;
    max-width: $desktopMaxWith;
    margin: 0 auto;

    .desktop-nav {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 2rem;

      .nav-item {
        outline: none;
        font-size: $remXL;
        color: $primaryColor;
        

        &:hover {
          color: $secondaryColor;
          cursor: pointer;
        }

        .logo {
          width: 15rem;
          height: 5rem;
          background-color: $primaryColor;
          margin: 0 1rem;
          display: block;
          
          &:hover {
            background-color: $secondaryColor;
          }
        }
      } 
    }
  }
}
