:host {
  .brand-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    flex-wrap: wrap;

    .brand-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 10rem;
      margin: 1rem;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
        transition: all 0.5s;
      }

      .brand-logo {
        width: 10rem;
        height: 10rem;
      }
    }
  }
}