<div class="social-footer">
  <h3 class="social-title">Connect With Ink & Tees</h3>
  <div class="social-inner">
    <a href="" target="_blank">
      <img src="../../assets/svg/facebook.svg" class="social-icon">
    </a>
    <a href="" target="_blank">
      <img src="../../assets/svg/twitter.svg" class="social-icon">
    </a>
    <a href="" target="_blank">
      <img src="../../assets/svg/instagram.svg" class="social-icon">
    </a>
  </div>
</div>
<div class="link-container">
  <ce-mailchimp-subscribe></ce-mailchimp-subscribe>
  <nav class="link-swamp page-padding">
    <a [routerLink]="" class="swamp-item">Previous Work</a>
    <a [routerLink]="" class="swamp-item">FAQ</a>
    <a [routerLink]="" class="swamp-item">Contact Us</a>
    <a [routerLink]="" class="swamp-item">Site Map</a>
  </nav>
</div>


<!-- <div class="page-padding">
  <div class="flex-container">
    <nav class="flex-col">
      <a [routerLink]="" class="footer-nav-item">Previous Work</a>
      <a [routerLink]="" class="footer-nav-item">FAQ</a>
      <a [routerLink]="" class="footer-nav-item">Contact Us</a>
      <a [routerLink]="" class="footer-nav-item">Site Map</a>
    </nav>
    <div class="flex-col">
      <h3 class="footer-title">Follow Ink and Tees</h3>
      <div class="social">
        <a href="" target="_blank">
          <img src="../../assets/svg/facebook.svg" class="social-icon">
        </a>
        <a href="" target="_blank">
          <img src="../../assets/svg/twitter.svg" class="social-icon">
        </a>
        <a href="" target="_blank">
          <img src="../../assets/svg/instagram.svg" class="social-icon">
        </a>
      </div>
    </div>
  </div>
</div>
<div class="sub-footer">
  <div class="page-padding">
    <span class="site-credit">Crafted by Crispy Eagle © {{copywrite}}</span>
  </div>
</div> -->