@import '../../styles/variables.scss';

:host {
  .sub-footer {
    background-color: $primaryColor;
    padding: 1rem;
      
    .site-credit {
      color: $secondaryColor;
      font-weight: $fontWeightLight;
      font-size: $remS;
    }
  }
}
