<div class="footer-container">  
    <div class="page-padding footer-inner">
      <div class="social-col">
        <h3 class="footer-title">Connect With Ink & Tees</h3>
        <div class="social-inner">
          <a href="" target="_blank">
            <img src="../../assets/svg/facebook.svg" class="social-icon">
          </a>
          <a href="" target="_blank">
            <img src="../../assets/svg/twitter.svg" class="social-icon">
          </a>
          <a href="" target="_blank">
            <img src="../../assets/svg/instagram.svg" class="social-icon">
          </a>
        </div>
      </div>
      <div class="link-col">
        <ce-mailchimp-subscribe class="subscribe-cta"></ce-mailchimp-subscribe>
        <nav class="footer-navigation">
          <a [routerLink]="" class="nav-item">Previous Work</a>
          <a [routerLink]="" class="nav-item">FAQ</a>
          <a [routerLink]="" class="nav-item">Contact Us</a>
          <a [routerLink]="" class="nav-item">Site Map</a>
        </nav>
      </div>
    </div>
  </div>
  
  
  <!-- <div class="page-padding">
    <div class="flex-container">
      <nav class="flex-col">
        <a [routerLink]="" class="footer-nav-item">Previous Work</a>
        <a [routerLink]="" class="footer-nav-item">FAQ</a>
        <a [routerLink]="" class="footer-nav-item">Contact Us</a>
        <a [routerLink]="" class="footer-nav-item">Site Map</a>
      </nav>
      <div class="flex-col">
        <h3 class="footer-title">Follow Ink and Tees</h3>
        <div class="social">
          <a href="" target="_blank">
            <img src="../../assets/svg/facebook.svg" class="social-icon">
          </a>
          <a href="" target="_blank">
            <img src="../../assets/svg/twitter.svg" class="social-icon">
          </a>
          <a href="" target="_blank">
            <img src="../../assets/svg/instagram.svg" class="social-icon">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-footer">
    <div class="page-padding">
      <span class="site-credit">Crafted by Crispy Eagle © {{copywrite}}</span>
    </div>
  </div> -->