@mixin absolute-center-h-or-v($horizontal: true, $vertical: true, $rotate: 0) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate($rotate);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0) rotate($rotate);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%) rotate($rotate);
  }
}
